/*Page size and position*/
body {
  position: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background: url('Site-images/Backgrounds-headers/SiteBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
}

main {
  position: center;
  background:rgba(200,200,200,0.8);
  padding-bottom: 50px;
  padding-top:30px;
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 1);
  max-width: 70%;
  margin-top: 50px;
}

hr{
  border:2px dotted #333;
  width:70%;
  margin-top:50px;
  margin-bottom:10px;
}

footer{
  background-color: rgba(51, 52, 53, 0.7);
  padding-bottom:40px;
}

.center-main{
  position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
}

/*Header Image*/
.header-img{
  max-width: 100%;
  height:auto;
  transform: scale(1);
  justify-content: center;
}
.center-header{
  position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.button{
  border-color: #333;
  border-radius: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  color:rgb(22, 22, 22);
  overflow: hidden;
  height: 30px;
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
.button:hover{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  color:#f2f2f2;
  overflow: hidden;
  background-color: rgba(51, 52, 53, 0.8);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
}
/*-----------------------------------SOCIAL MEDIA--------------------------------------------------*/
 /* Style all font awesome icons */
 .fa {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 56px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

  /* Add a hover effect if you want */
  .fa:hover {
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 1);
    opacity: .9;
    color:black;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 

  .fa-instagram{
    background: #fb3958;
    color:white;
  }

  .fa-tumblr{
    background: #35465c;
    color:white;
  }

  .wattpad{
    background: #ff4500;
    font-size: 60px;
    width: 50px;
    align-items: center;
    text-align: center;
    text-decoration:none; 
  }
  .wattpad:hover{
    background: #00BAFF;
    opacity: .7;
    filter:invert(100%);
    box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  }

/*-----------------------------------------NAVBAR-------------------------------------------*/
  .fa-twitter.socbar {
    margin-left:auto;
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  } 
  .fa-instagram.socbar{
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  }
  .fa-tumblr.socbar{
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  }
  .wattpad.socbar{
    float: right;
    background: transparent;
    color:white;
    height: 3.125rem;
    display: flex;
  }
  .wattpad.socbar:hover{
    background: transparent;
    filter:invert(100%);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);  
  }

.nav-top{
  display: flex;
  flex-direction: row;
  z-index: 5;
  position:sticky;
  font-family: "Lucida Handwriting",cursive;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  color: #f2f2f2;
  overflow: hidden;
  height: 50px;
  max-width: 100%;
  background-color: rgba(51, 52, 53, 0.5);
  top: 0px;
  bottom: 0px;
}
/*Look into how this works*/
  .nav-top a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.06rem;
    }
    /*This changes the navbar when you hover over each link*/
    .nav-top a:hover {
      background-color: transparent;
      color: black;
      text-shadow: 0px 3px 6px white;
      box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 1);
    }
    /*Here is the settings for social media on top bar (social bar = socbar)*/
    .nav-top a.socbar {
      float:right;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.25rem;
      }
      .nav-top a.socbar:hover{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      }
    .nav-top .active {
      background-color: transparent;
      color: black;
      text-shadow: 0px 3px 6px white;
      box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 1);
    }
    
/*---------------------------------------------FOOTER NAVIGTION BAR------------------------------------------------*/    
.nav-bot{
  display: flex;
  flex-direction: row;
  z-index: 5;
  font-family:"Lato",sans-serif, bold;
  color:white;
  background-color: transparent;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);
  overflow: hidden;
  height: 50px;
  top: 0px;
  bottom: 0px;
}
/*Look into how this works*/
  .nav-bot a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.06rem;
    }
    /*This changes the navbar when you hover over each link*/
    .nav-bot a:hover {
      background-color: transparent;
      color: black;
      text-shadow: 0px 3px 6px white;
      box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }
    .nav-bot a.socbar {
      float:right;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.25rem;
      }
    .nav-bot .active {
      background-color: transparent;
      color: black;
      text-shadow: 0px 3px 6px white;
    }

/*------------------------Text Alignments & Titles------------------------------------------------*/


.center-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.125em;
  font-weight: 100;
  text-align: center;
}
.justify-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.125em;
  font-weight: 100;
  text-align: justify;
}

.left{
  display:block;
  margin-left: 5px;
  margin-right:auto;
  text-align: left;
}

.right{
  display:block;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}

.row{
  display: flex;
  max-width: 100%;
}
.row2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}
.row3{
  display:flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: space-between;
  width: 150px;
}
.social-row{
  display: inline-flex;
  text-align: center;
}

.column{
  padding-left:10px;
  padding-right:10px;
}

.column-book-left{
  margin-left: 4vw;
  flex: 50%;
}
  .column-book-left:hover{
    margin-left: 4vw;
    flex: 50%;
    transform: scale(1.05);
  }
.column-book-right{
  margin-right: 4vw;
  flex: 50%;
}
  .column-book-right:hover{
    margin-right: 4vw;
    flex: 50%;
    transform: scale(1.05);
  }
.column-text-left{
  margin-left: 10vw;
  text-align: right;
  flex: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.125em;
  font-weight: 100;
}
.column-text-right{
  margin-right: 10vw;
  text-align:justify;
  flex: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.125em;
  font-weight: 100;
}
.column-text-center{
  margin-right: 10vw;
  text-align:center;
  flex: 50%;
  font-size:1.125em;
  font-weight: 100;
}

.text-alignment-center{
  text-align: center;
  margin-inline: 20%;
}

.text-alignment-left{
    text-align: left;
    margin-inline: 15%;
}

.title{
  font-size: 80px;
  font-family: "Goudy Old Style", sans-serif;
  font-style: italic;
  color:black;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, .8);
}

.subtitle{
  font-size:60px;
  font-family:"Helvetica";
}

.heading{
  font-size: 40px;
  font-family: "Brush Script MT", cursive;
}

.author-name{
  font-size:18px;
  font-family:"Helvetica", bold;
  color: #333;
}

.rights-warning{
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-size:14px;
  font-weight: 100;
}
/*-------------------------------------SHADOWS-----------------------*/


.book-shadow{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
/*-----------------------------FOOTER-------------------------------------------*/


/*----------------------------- SLIDESHOW 1-------------------------------------------*/
/* SLIDESHOW 1 */
/* external css: flickity.css */

.slide-shadow{
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 1);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery_container { 
  max-height: auto;
  max-width: 60%;
  margin: auto;
  margin-top: 10px;
  font-family: sans-serif;
}

.gallery {
  background: transparent;
}

.gallery-cell {
  max-width: 100%;
  max-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px; 
  background: transparent; 
  align-items: center;
  justify-content: center;
  counter-increment: gallery-cell; 
  overflow: hidden;
}
/*
.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}   */

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}

/*--------------------------------------------SOCIAL MEDIA-----------------------------------------------------*/

